@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900&subset=latin-ext');

    

* {
    box-sizing: border-box;
}


/*header*/


body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

img{
    max-width: 100%;
}

header{
    left: 0;
    right: 0;
    position: absolute;
    margin: 1em
}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li{
    display: inline-block;
    margin: 1em;
}

nav a{
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5rem;
    color: #CCC;
}
nav a:hover{
    color: #DDD;
}


h1{
    font-weight: 300;
    font-size: 1.75rem;
    margin-top: 0;
}



/* start-hero */



.wrapper{
    width: 95%;
    margin: 0 auto;
}
.start-hero{
    background-image: url(img/hero-bg.jpg);
    padding: 8rem 0;
    color: #fff;
    background-size: cover;
    background-position: center;
    
}

.title{
    font-weight: 900;
    font-size: 2.5rem;
    margin-top: 1em;
}

.title span{
    font-weight: 300;
    display: block;
    font-size: .9em; 
}

@media (min-width:850px){
    .title{
        font-size: 3.8rem;
    }
    .logo{
        float: left;
    }
    nav{
        float: right;
    }
    .start-hero{
        height: 100vh;
        padding-top: 35vh;
    }
    .button{
        font-size: 1.3rem;
    }
}

/*buttons*/


.button{
    display: inline-block;
    font-size: 1.15rem;
    text-transform: uppercase;
    text-decoration: none;
    border-style: solid;
    padding: .5em 1.3em;
  
}

.button-accent{
    color: #00ff6c;
    margin-top: 2rem;
}

.button-accent:hover{
    background: #00ff6c;
    color: #232323;
}

/*about-us*/

.home-about-textbox{
    background-color: #232323;
    padding: 3.2em;
    width:100vw;
    margin-left: -2.5%;
    outline: 2px solid #00ff6c;
    outline-offset: -2.4rem;
    color: #fff;
    position: relative;
}

.home-about-textbox h1{
    color: #00ff6c;
    position: absolute;
    top: .68em;
    left: 50%;
    transform:translateX(-50%);
    background-color: #232323;
    padding: 0 .110em
}

@media (min-width:600px){
    h1{
        font-size: 2.4rem;
    }
    .home-about-textbox h1{
        top: .3em
    }
}