@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900&subset=latin-ext');

    

* {
    box-sizing: border-box;
}


/*header*/

* {
    transition: all ease-in-out 250ms;
}


body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

img{
    max-width: 100%;
}

header{
    left: 0;
    right: 0;
    position: absolute;
    margin: 1em
}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li{
    display: inline-block;
    margin: 1em;
}

nav a{
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5rem;
    color: #CCC;
}
nav a:hover{
    color: #DDD;
}


h1{
    font-weight: 300;
    font-size: 1.75rem;
    margin-top: 0;
}


p{
    margin-top: 0px;
}

p:last-of-type{
    margin-bottom: 0;
}

section:after,
footer:after{
    content: '';
    display: block;
    clear: both;
}

/* start-hero */



.wrapper{
    width: 95%;
    max-width: 950px;
    margin: 0 auto;
    

}
.start-hero{
    background-image: url(img/hero-bg.jpg);
    padding: 8rem 0;
    color: #fff;
    background-size: cover;
    background-position: center;
    
}

.title{
    font-weight: 900;
    font-size: 2.5rem;
    margin-top: 1em;
}

.title span{
    font-weight: 300;
    display: block;
    font-size: .9em; 
}



/*buttons*/


.button{
    display: inline-block;
    font-size: 1.15rem;
    text-transform: uppercase;
    text-decoration: none;
    border-style: solid;
    padding: .5em 1.3em;
  
}

.button{
    color: #00ff6c;
    margin-top: 2rem;
}

.button:hover{
    background: #00ff6c;
    color: #232323;
}

.small-button{
    font-size: .8em;
    margin-top: .3rem;
        
}

.button-dark{
    color: black;
    border-color: black;
    margin: 0;
}

.button-dark:hover{
    color: #00ff6c;
    border-color: black;
    background: #232323;
}
/*about-us*/

.home-about-textbox{
    background-color: #232323;
    padding: 3.8em;
    width:100vw;
    margin-left: -2.5%;
    outline: 2px solid #00ff6c;
    outline-offset: -2.4rem;
    color: #fff;
    position: relative;
}

.home-about-textbox h1{
    color: #00ff6c;
    position: absolute;
    top: .68em;
    left: 50%;
    transform:translateX(-50%);
    background-color: #232323;
    padding: 0 .110em
}

/* gallery */

.gallery{
    margin-top: 2rem;
}

.galery-item{
    position: relative;
    margin: 0;
}

.galery-item img{
    display: block;
}
.galery-desc{
    position: absolute;
    z-index: 2;
    left: 0em;
    right: 0em;
    bottom: 0rem;
    background: rgba(0,0,0,0.75);
    color: white;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.galery-desc p{
    margin: .4em;
}

/* cta */

.cta{
    background-color: #00ff6c;
    margin-top: 0;
    padding: 5px;
}
.cta .wrapper{
    margin-bottom: 2em;
}


/* footer */

footer{
    background: #232323;
    color: whitesmoke;
    text-align: left;
    padding: 2em 0;
    font-size: .9em;
}


.unstyled-list{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

[class^=col-]{
    width: 100%;
    margin-top: 1.2em;
}

.col-1{
    width: 33.3333%;
    float: left
}

@media (min-width:600px){
    h1{
        font-size: 2.4rem;
    }
    .home-about-textbox h1{
        top: .3em
    }
    
      .home-about-textbox {
        padding: 4.8em;
        line-height: 1.4;
        font-size: 1.06em;
    }
    
    .galery-item{
        width: 50%;
        float: left;
    }
    
    [class^=col-]{
    float: left;
    padding: 0 .6em;
}

[class^=col-]:first-child{
   padding-left: 0;
}

[class^=col-]:last-child{
    padding-right: 0;
}
.col-3{
    width: 50%
}

.col-1{
    width: 16.666%;
}
}

@media (min-width:850px) {
    .title{
        font-size: 3.8rem;
    }
    .logo{
        float: left;
    }
    nav{
        float: right;
    }
    .start-hero{
        height: 100vh;
        padding-top: 35vh;
    }
    .button{
        font-size: 1.3rem;
    }
    .home-about-textbox{
        width: 50%;
        margin-left: -2.5%;
        padding: 5rem;
        top: -4em;
        text-align: left;
        box-shadow: 0px 0px 50px 1px rgba(0,0,0,.6);
        line-height: 1.5em;
        font-size: 1.1em
            
    }

    .home-about-textbox h1{
        top: .5em;
        padding: 0 .2em;
        font-size: 1.98rem;
            
    }
    .about-us{
        background-image: url(img/who-we-are.jpg);
        padding-bottom: 10em;
        background-repeat: no-repeat;
    }
    
      .galery-item{
        width: 33.333%;
        float: left;
        overflow: hidden;
    }
    
    .galery-desc{
        transform: translateY(170%);
    }
    
    .galery-item:hover .galery-desc{
        transform: translateY(0);
    }
}

